.order-list,
.order-list-container {
  width: 9rem;
  font-size: 0.7rem;
}
.order-list-button,
.order-list-container {
  background: var(--background);
  color: #ffffff;
  border-radius: 6px;
  font-size: 0.9rem;
}
.order-list,
.order-list-button {
  border: none;
}
.order-list {
  text-align: center;
  margin: 1rem 0;
  align-self: flex-start;
}

.order-list-button {
  font-size: 0.9rem;
  padding: 0.5rem 0;
  padding-left: 0.85rem;
  width: 100%;
  margin-bottom: 1px;
  font-weight: 600;
  position: relative;
  text-align: center;
}
.order-list-container {
  position: absolute;
  text-align: start;
  padding: 0.5rem 1rem;
}
.order-list-container div:hover {
  color: gray;
  cursor: pointer;
}
.order-list-button-icon {
  background: url('../../../public/images/icono-ordenar.svg') no-repeat center
    center;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0.75rem;
  top: 0.4rem;
}
@media (min-width: 800px) {
}
