#cardStiker {
  position: absolute;
  top: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  transform: translate(-110%, 20%);
  transform-origin: top left;
  background-color: #00FFFF;
  color: var(--background);
  padding: 0 0.5rem;
  border-radius: 6px;
}
@media (min-width: 810px) {
}
