.new-comment-form {
  border: 1px solid var(--background);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.new-comment-form label {
  color: var(--background);
  font-weight: 600;
}
.new-comment-form button {
  width: 50%;
  align-self: center;
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
}
.textarea-comment {
  margin-top: 0.5rem;
  height: 6rem;
  padding: 0.5rem;
}
@media (min-width: 600px) {
}
