.diverr-grid {
  border: 1px solid var(--background);
  border-radius: 6px;
  padding: 2rem;
  display: flex;
  width: 100%;
  height: 100%;
}
.diverr-grid article h1 {
  font-size: 1.5rem;
}

.diverr-grid img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 6px;
  border: 3px solid var(--background);
}

.diverr-grid article {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  gap: 1rem;
}

.diverr-grid figure {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.diverr-grid figure img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.diverr-grid figure h3 {
  color: var(--background);
  text-align: center;
}
