.create-diverr-card {
  width: 200px;
  height: 110px;
  border-radius: 6px;
  border: 3px solid var(--background);
  background-color: gainsboro;
}

#create-diverr-card-icon {
  font-size: 3rem;
  text-align: center;
}

.create-diverr-card p {
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--background);
}
