.footer {
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--bright);
  background-color: var(--background);
  padding: 1rem;
  opacity: 0.9;
  width: 100%;
  bottom: 0;
  left: 0px;
  position: fixed;
}

/* color: var(--bright);
  font-weight: 300;
  font-size: 0.9rem;
  background-color: var(--background);
  position: fixed;
  width: 100%;
  padding: 1rem;
  opacity: 0.9;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content:  */
