@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  font-family: Poppins;
  font-size: 1.3rem;
}

form {
  display: grid;
  text-align: center;
  gap: 4rem;
}

h1 {
  font-size: 5rem;
}
