@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  font-family: Poppins;
  font-size: 1.3rem;
}

body {
  text-align: center;
}

form {
  display: inline-block;
  text-align: center;
  gap: 4rem;
}

h1 {
  font-size: 5rem;
}

fieldset {
  border: none;
}

label,
input {
  display: flex;
  flex-direction: column;
}

input {
  width: 40rem;
  border: 3px solid #535353;
  border-radius: 0.4rem;
  padding: 0.2rem;
  margin: 0.5rem;
}

button {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #535353;
  color: white;
  border-radius: 0.5rem;
  width: 40rem;
}

button:hover {
  cursor: pointer;
}
