.auth {
  display: flex;
  align-items: center;
  list-style: none;
  grid-area: buttons;
}
.avatar {
  grid-area: buttons;
  text-align: end;
}

.auth li {
  text-decoration: none;
}
.auth-button {
  padding: 0.5rem;
  width: 6.5rem;
  font-weight: 600;
  border-radius: 6px;
  font-size: 0.8rem;
  text-align: center;
}
.auth-button:hover {
  cursor: pointer;
}
.auth-login {
  color: var(--background);
  background-color: var(--bright);
  border: none;
}
.auth-register {
  border: 2px solid var(--background);
  background: none;
}
.auth-register:hover {
  background-color: var(--background);
  color: var(--bright);
}

.avatar-image {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  margin-right: 1rem;
}
.avatar-list-container {
  background: var(--background);
  color: #ffffff;
}
.avatar-list-container div:hover {
  color: gray;
  cursor: pointer;
}
.avatar-list-container {
  margin-top: -0.5rem;
  width: 8.5rem;
  position: absolute;
  border-radius: 6px;
  text-align: end;
  padding: 0.5rem 1rem;
}

@media (min-width: 800px) {
  .auth-button {
    padding: 0.75rem;
    width: 9rem;
    font-size: 1rem;
  }
}
