.auth {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  list-style: none;
  grid-area: buttons;
  margin-right: 2rem;
}
.avatar {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
}

.auth li {
  text-decoration: none;
}
.auth-button {
  padding: 0.5rem;
  width: 6.5rem;
  font-weight: 600;
  border-radius: 6px;
  font-size: 0.8rem;
  text-align: center;
}
.auth-button:hover {
  cursor: pointer;
}
.auth-login {
  color: var(--background);
  background-color: var(--bright);
  border: none;
}
.auth-register {
  border: 2px solid var(--background);
  background: none;
}
.auth-register:hover {
  background-color: var(--background);
  color: var(--bright);
}

.avatar-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  align-self: flex-end;
}
.avatar-list-container {
  background: var(--background);
  color: #ffffff;
}
.avatar-list-container div:hover {
  color: gray;
  cursor: pointer;
}
.avatar-list-container {
  align-self: flex-end;
  width: 7rem;
  top: 6rem;
  right: 2.5rem;
  position: absolute;
  font-size: 0.7rem;
  border-radius: 6px;
  text-align: end;
  padding: 0.5rem 0.5rem;
}
.avatar-list-container::before {
  top: -16px;
  right: 9px;
  left: auto;
  border: 8px solid transparent;
  border-bottom-color: transparent;
  border-bottom-color: var(--background);
  position: absolute;
  display: inline-block;
  content: '';
}
@media (min-width: 800px) {
  .auth-button {
    padding: 0.75rem;
    width: 9rem;
    font-size: 1rem;
  }
  .avatar {
    width: 10%;
  }
  .auth {
    flex-direction: row;
  }
  .avatar-list-container {
    top: 7rem;
    right: 5.4rem;
  }
}
