@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html {
  --background: #535353;
  --second-color: #a9ffff;
  --bright: #ffffff;
  --error: #c84d4d;
}

.primary-button {
  color: var(--bright);
  background-color: var(--background);
  border-radius: 6px;
}
.primary-button:hover {
  color: gainsboro;
  cursor: pointer;
}

main {
  margin: 1rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

h1,
h2,
h3 {
  color: var(--background);
}
.order-filter-menu {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
/*FORMS*/
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--background);
}
.form label {
  align-self: flex-start;
  width: 100%;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.2rem;
}
.form h1,
.form h2 {
  margin-bottom: 1rem;
  text-align: center;
  align-self: center;
}
.form .link {
  margin-top: 0.5rem;
  text-decoration: underline;
  align-self: center;
}
.form-button {
  padding: 0.7rem 0;
  font-size: 1rem;
  width: 100%;
  border: none;
  margin-left: 0.1rem;
}
.link {
  color: var(--background);
}
.link:hover {
  color: gray;
}
/*COMMON FORM PAGES*/
.login-page,
.security-page,
.register-page,
.edit-user-page,
.diverr-page,
.newdiverr-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*EDIT USER PAGE, DIVERR-PAGE*/

.form-edit h2,
.form-change-password h2 {
  border-bottom: 1px solid var(--background);
  /* margin-top: 0rem; */
}

.edit-user-page .form-edit .edit-avatar label {
  align-self: center;
}

/*NEW DIVERSS PAGE*/
.register-input,
.newdiverr-input {
  height: 2.2rem;
}

.file-upload input[type='file'],
.image-upload input[type='file'] {
  display: none;
}
.newdiverr-form select {
  height: 2.2rem;
  background-color: var(--bright);
  border: 1px solid var(--background);
  width: 100%;
  color: var(--background);
  border-radius: 4px;
  margin-bottom: 2rem;
}
.file-upload,
.image-upload {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload:hover,
.image-upload:hover {
  text-decoration: underline;
}

/*HOME PAGE*/
.home-page ul {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  gap: 3rem;
  margin-top: 1rem;
}

/*MY DIVERRS PAGE*/
.mydiverrs-page ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}
.mydiverrs-page ul li {
  width: 15rem;
  padding: 0 1rem;
  margin: 0 auto;
}

/*DIVERR PAGE*/
.diverr-page {
  margin: 0 auto;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.diverr-page .business-panel {
  grid-area: right-panel;
}
.diverr-page .diverr-grid {
  grid-area: left-panel;
}
/*comment list*/
.diverr-page ul {
  width: 100%;
  grid-area: comments;
}
.new-comment-form {
  grid-area: new-comment;
}

/*ERROR PAGE*/
.error-page {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.error-page-gif {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}
.form-change-password h2 {
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  .error-page-gif {
    width: 40%;
  }
  .diverr-page {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'left-panel    right-panel'
      'new-comment   new-comment'
      'comments     comments';
  }

  main {
    margin: 2rem 4rem;
  }

  .order-filter-menu {
    justify-content: flex-end;
    margin: 1.5rem 2rem;
  }
  .form-change-password {
    margin-top: 0rem;
  }

  .form-edit button {
    width: 17.5rem;
  }

  .mydiverrs-page ul li {
    margin: 0;
  }
  .diverr-page {
    margin: 0 auto;
    width: 80%;
  }
}
@media (min-width: 1400px) {
  .diverr-page {
    margin: 0 auto;
    width: 40%;
  }
}
