@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html {
  --background: #535353;
  --bright: #ffffff;
  --action: #00acee;
  --error: #c84d4d;
}

main {
  margin: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*LOGIN PAGE*/
.login-page {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.6rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: var(--background);
  margin-bottom: 2rem;
}
.login-form h1 {
  margin-bottom: 2rem;
}
.inputField {
  height: 2.2rem;
}

.login-button {
  color: white;
  background-color: var(--background);
  border-radius: 6px;
  height: 3rem;
  display: block;
  width: 16.4rem;
  margin-top: 2rem;
}

/*REGISTER PAGE*/
.register-page,
.newdiverr-page {
  color: var(--background);
  background-color: var(--bright);
  border-radius: 6px;
  /* border: 1px solid var(--background); */
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.6rem;
  height: 85vh;
}

.register-form,
.newdiverr-form {
  font-weight: 600;
}

.register-input,
.newdiverr-input {
  height: 2.2rem;
}

.register-button,
.newdiverr-button {
  color: white;
  background-color: var(--background);
  border-radius: 6px;
  height: 3rem;
  width: 16.4rem;
  display: block;
  margin-top: 2rem;
}

.image-upload::-webkit-file-upload-button,
.file-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.image-upload::before {
  content: 'Selecciona una imagen';
  /* border: 1px solid #535353; */
  border-radius: 6px;
  cursor: pointer;
  text-decoration: underline;
  /*Este color habrá que cambiarlo por uno más acorde a la página */
  background-color: lightblue;
}

.file-upload::before {
  content: 'Selecciona un archivo';
  border: 1px solid #535353;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: underline;
  /*Este color habrá que cambiarlo por uno más acorde a la página */
  background-color: lightblue;
}

.file-upload:hover::before,
.image-upload:hover::before {
  border: #535353;
}

.link {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 700px) {
  main {
    margin: 2rem 4rem;
  }
}
