@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html {
  --background: #535353;
  --bright: #ffffff;
  --action: #00acee;
  --error: #c84d4d;
}

.primary-button {
  color: white;
  background-color: var(--background);
  border-radius: 6px;
}

main {
  margin: 1rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*FORMS*/
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--background);
}
.form label {
  align-self: flex-start;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.2rem;
}
.form h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  align-self: center;
}
.form .link {
  margin-top: 0.5rem;
  text-decoration: underline;
  align-self: center;
}
.form-button {
  padding: 0.7rem 0;
  font-size: 0.9rem;
  width: 100%;
  border: none;
  margin-left: 0.1rem;
}
.link {
  font-size: 0.9rem;
  text-decoration: none;
  color: inherit;
}
/*LOGIN && REGISTER PAGE*/
.login-page,
.register-page,
.edit-user-page {
  display: flex;
  justify-content: center;
  align-content: center;
}
/*EDIT USER PAGE*/
.edit-user-page {
  flex-direction: column;
}
.legend1 {
  grid-area: legend1;
  align-self: center;
}
.legend2 {
  grid-area: legend2;
  align-self: center;
}
.form-edit h1 {
  grid-area: title;
  justify-self: center;
}
.form-edit button {
  grid-area: button;
  margin-top: 1rem;
  align-self: center;
  width: 55%;
}
/**/
.newdiverr-page {
  color: var(--background);
  background-color: var(--bright);
  border-radius: 6px;
  /* border: 1px solid var(--background); */
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 85vh;
}

.newdiverr-form {
  font-weight: 600;
}

.register-input,
.newdiverr-input {
  height: 2.2rem;
}

.newdiverr-button {
  color: white;
  background-color: var(--background);
  border-radius: 6px;
  height: 3rem;
  width: 16.4rem;
  display: block;
  margin-top: 2rem;
}

.image-upload::-webkit-file-upload-button,
.file-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.image-upload::before {
  content: 'Selecciona una imagen';
  /* border: 1px solid #535353; */
  border-radius: 6px;
  cursor: pointer;
  text-decoration: underline;
  /*Este color habrá que cambiarlo por uno más acorde a la página */
  background-color: #a9ffff;
}

.file-upload::before {
  content: 'Selecciona un archivo';
  border: 1px solid #535353;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: underline;
  /*Este color habrá que cambiarlo por uno más acorde a la página */
  background-color: #a9ffff;
}

.file-upload:hover::before,
.image-upload:hover::before {
  border: #535353;
}

.order-filter-menu {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 800px) {
  main {
    margin: 2rem 4rem;
  }
  .order-filter-menu {
    justify-content: flex-end;
    margin: 1.5rem 2rem;
  }

  .form-edit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 2.6fr 0.3fr;
    grid-template-areas:
      'title    title'
      'legend1 legend2'
      'button  button';
    width: 50%;
    margin: 0 auto;
    gap: 1rem;
  }

  .legend1,
  .legend2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .form-edit button {
    width: 50%;
    justify-self: center;
  }
}
