.header-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'logo buttons'
    'bar   bar';
  gap: 1rem;
}
.header-no-bar {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 'logo buttons';
  margin-bottom: 1.5rem;
}
.header-bar h1 {
  grid-area: logo;
  display: flex;
  align-items: center;
}
.header-bar h1 .link img {
  width: 9rem;
}

@media (min-width: 800px) {
  .header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
